###############################
# Composer specific variables #
###############################
COMPOSE_PROJECT_NAME=junior-php-test

##################################
# Application specific variables #
##################################

# SYMFONY ENVIRONMENT VARIABLES
APP_ENV=dev
APP_SECRET=de958b4bd967e5a8704467fa01132117

#######################
# Nginx configuration #
#######################
NGINX_PORT_EXPOSED=8888

#########################
# MariaDB configuration #
#########################
MARIADB_VERSION=10.5.6
MARIADB_ROOT_PASSWORD=password
MARIADB_PATH_SCRIPTS_FOLDER=./docker/mariadb/sql/
MARIADB_PORT_EXPOSED=3306

###> doctrine/doctrine-bundle ###
# Format described at https://www.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/configuration.html#connecting-using-a-url
# IMPORTANT: You MUST configure your server version, either here or in config/packages/doctrine.yaml
#
# DATABASE_URL="sqlite:///%kernel.project_dir%/var/data.db"
# DATABASE_URL="mysql://db_user:db_password@127.0.0.1:3306/db_name?serverVersion=5.7"
DATABASE_URL="mysql://root:password@mariadb.internal:3306/junior_php"
###< doctrine/doctrine-bundle ###
